* {
    font-family: "Ubuntu", sans-serif;
    background-color: #333333;
    color: #ffffff;
}

.container {
    text-align: center;
}

form {
    margin-bottom: 30px;
}

input {
    background-color: #444444;
    padding: 8px 8px;
    outline: none;
    border: 2px solid #777777;
    border-radius: 6px;
}

button {
    margin-left: 4px;
    padding: 8px 20px;
    outline: none;
    border: 2px solid #777777;
    border-radius: 6px;
}

span:before {
    content: "•";
    font-size: 20px;
    vertical-align: middle;
    padding-right: 2px;
}

p {
    margin-bottom: 10px;
}

.remove {
    color: #ffffff;
    text-decoration: none;
    margin-left: 4px;
    background-color: red;
    border-radius: 4px;
    padding: 2px 4px;
}
